<header>
    <app-header></app-header>
</header>

<main>
    <br>
    <nav class="navbar navbar-expand-sm navbar-dark ml-3 p-0" style="background-color: #1036A0;">
        <h6 class="m-2">Actions</h6>
    </nav>
    <div class="container-fluid row ml-3 border border-info" style="background-color: #e6e6e6;">

        <div class="col-sm-1 card text-center border border-info text-white mb-3 ml-5 mt-3 p-0">

            <div class="card-body bg-dark">
                <h1 class="dispaly-6">
                    <i class="fas fa-envelope-square"></i>
                </h1>
            </div>
        </div>
        <div class="col-sm-4 card text-center border border-info text-white mb-3 mr-4 mt-3 p-0 btn-blue"
            (click)="emailEventsFBReq()">
            <div class="card-body bg-primary"> Email Report
            </div>
        </div>
        <div class="col-sm-1 card text-center border border-info text-white mb-3 ml-5 mt-3 p-0">
            <div class="card-body bg-dark">
                <h1 class="dispaly-6">
                    <i class="fas fa-envelope-square"></i>
                </h1>
            </div>
        </div>
        <div class="col-sm-4 card text-center border border-info text-white mb-3 mr-4 mt-3 p-0">
            <div class="card-body bg-warning"> Future Implementations!
            </div>
        </div>

    </div>
    <br>
    <nav class="navbar navbar-expand-sm navbar-dark ml-3 p-0" style="background-color: #1036A0;">
        <h6 class="m-2">EVENTS</h6>

        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
        <br>

    </nav>
    <div class="container-fluid row ml-3 border border-info "
        style="background-color: #e6e6e6;height: auto !important;">
        <div class="container">
            <button type="button" class="btn btn-danger m-2 float-right">CLEAR FILTER</button>
            <button type="button" class="btn btn-success m-2 float-right">DOWNLOAD EXCEL</button>
        </div>
        <div class="container">


            <p-table #dt [columns]="cols" [value]="events" [paginator]="true" [rows]="5" (onLazyLoad)="loadLazy($event)"
                [responsive]="true" [lazy]="false" [totalRecords]="totalRecords" [loading]="loading">
                <ng-template pTemplate="caption">
                    <form class="form-inline">
                        <i class="fas fa-search float-right" aria-hidden="true"></i>
                        <input pInputText size="10" class="form-control form-control-sm ml-3 w-75 float-right"
                            type="text" placeholder="Global Search" aria-label="Search"
                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                            [value]="dt.filters['global'] ? dt.filters['global'].value : ''">
                    </form>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns | slice:0:6;" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>

                    </tr>
                    <tr>
                        <th *ngFor="let col of columns  | slice:0:6">
                            <input pInputText type="text" class="form-control input-normal"
                                (input)="dt.filter($event.target.value, col.field, 'contains')"
                                [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''">
                            <!--  <input *ngSwitchCase="'totalAnswers'" pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')"
                            [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''"
                            style="width:auto">
                        <input *ngSwitchCase="'type'" pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')"
                            [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''" 
                            style="width:auto"> -->
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td rowspan="9" align="center"> <button class="btn btn-primary" (click)="editEvent(rowData)">
                                <mdb-icon far icon="sun"></mdb-icon>Edit
                            </button></td>
                        <td *ngFor="let col of columns  | slice:1:6" style="font-weight: bold;">
                            <span *ngIf="col.header == 'Month'; else
                                elseBlock">{{rowData[col.field] | date:"MMM"}}</span>
                            <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>

                        </td>
                    </tr>

                    <tr *ngFor="let col of columns  | slice:6:14">

                        <td colspan="2" style="font-weight: bold;">{{col.header}}</td>
                        <td colspan="3"><span *ngIf="col.header == 'Month'; else
                            elseBlock">{{rowData[col.field] | date:"MMM"}}</span>
                            <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>
                        </td>
                    </tr>
                    <!-- <tr>

                        <td colspan="2" style="font-weight: bold;">Event Name</td>
                        <td colspan="3">{{rowData[columns[6].field]}}</td>
                    </tr>
                    <tr>

                        <td colspan="2" style="font-weight: bold;">Event Date</td>
                        <td colspan="3">{{rowData[columns[7].field]}}</td>
                    </tr>
                    <tr>

                        <td colspan="2" style="font-weight: bold;">Business Unit</td>
                        <td colspan="3">{{rowData[columns[8].field]}}</td>
                    </tr>
                    <tr>

                        <td colspan="2">Status</td>
                        <td colspan="3">{{rowData[columns[9].field]}}</td>
                    </tr>
                    <tr>

                        <td colspan="2">Venue Address</td>
                        <td colspan="3">{{rowData[columns[10].field]}}</td>
                    </tr>
                    <tr>

                        <td colspan="2">Total Volunteers</td>
                        <td colspan="3">{{rowData[columns[11].field]}}</td>
                    </tr>
                    <tr>

                        <td colspan="2">Total Volunteer hours</td>
                        <td colspan="3">{{rowData[columns[12].field]}}</td>
                    </tr>
                    <tr>

                        <td colspan="2">{{rowData[columns[13].field]}}</td>
                        <td colspan="3">{{rowData[columns[13].field]}}</td>
                    </tr> -->

                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="6">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</main>

<footer>
    <app-footer></app-footer>
</footer>