<header>
    <app-header></app-header>
</header>

<main>
    <br>
    <nav class="navbar navbar-expand-sm navbar-dark ml-3 p-0" style="background-color: #1036A0;">
        <h6 class="m-2">Actions</h6>
    </nav>
    <div class="container-fluid row ml-3 border border-info" style="background-color: #e6e6e6;">

        <div class="col-sm-1 card text-center border border-info text-white mb-3 ml-5 mt-3 p-0">

            <div class="card-body bg-dark">
                <h1 class="dispaly-6">
                    <i class="fas fa-envelope-square"></i>
                </h1>
            </div>
        </div>
        <div class="col-sm-4 card text-center border border-info text-white mb-3 mr-4 mt-3 p-0">
            <div class="card-body bg-primary"> Email Report
            </div>
        </div>
        <div class="col-sm-1 card text-center border border-info text-white mb-3 ml-5 mt-3 p-0">
            <div class="card-body bg-dark">
                <h1 class="dispaly-6">
                    <i class="fas fa-envelope-square"></i>
                </h1>
            </div>
        </div>
        <div class="col-sm-4 card text-center border border-info text-white mb-3 mr-4 mt-3 p-0">
            <div class="card-body bg-warning"> Future Implementations!
            </div>
        </div>

    </div>
    <br>
    <nav class="navbar navbar-expand-sm navbar-dark ml-3 p-0" style="background-color: #1036A0;">
        <h6 class="m-2">EVENTS</h6>

        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
        <br>

    </nav>
    <div class="container-fluid row ml-3 border border-info "
        style="background-color: #e6e6e6;height: auto !important;">
        <div class="container-fluid row" style="height: auto !important;">
            <div class="col-sm-2  text-center  p-2">
                <button type="button" class="btn btn-danger">CLEAR FILTER</button>

            </div>
            <div class="col-sm-3 text-center  p-2 ">
                <button type="button" class="btn btn-success" style="margin:0px;"><i
                        class="fa fa-file-excel-o"></i>DOWNLOAD EXCEL</button>
            </div>
        </div>

        <div class="container">
            <table class="table table-hover table-bordered border"
                style="border: none; background-color: white !important;">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Event ID</th>
                        <th>Month</th>
                        <th>Base Location</th>
                        <th>Council name</th>
                        <th>Beneficiary Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="9"> View</td>
                        <td>EVNT00046385</td>
                        <td>Dec</td>
                        <th>United Kingdom</th>
                        <th>Outreach UK</th>
                        <th>St. Edward's CE Voluntary Aided Primary School</th>
                    </tr>
                    <tr>

                        <td colspan="2">Event Name</td>
                        <td colspan="2">EVNT00046385</td>
                    </tr>
                    <tr>

                        <td colspan="2">Event Date</td>
                        <td colspan="2">27/04/1991</td>
                    </tr>
                    <tr>

                        <td colspan="2">Business Unit</td>
                        <td colspan="2">Healthcare</td>
                    </tr>
                    <tr>

                        <td colspan="2">Status</td>
                        <td colspan="2">Approved</td>
                    </tr>
                    <tr>

                        <td colspan="2">Venue Address</td>
                        <td colspan="2">164 Bharathidasan street</td>
                    </tr>
                    <tr>

                        <td colspan="2">Total Volunteers</td>
                        <td colspan="2">24</td>
                    </tr>
                    <tr>

                        <td colspan="2">Total Volunteer hours</td>
                        <td colspan="2">24</td>
                    </tr>
                    <tr>

                        <td colspan="2">Total travel hours</td>
                        <td colspan="2">24</td>
                    </tr>


                    <tr>
                        <td rowspan="9"> View</td>
                        <td>EVNT00046385</td>
                        <td>Dec</td>
                        <th>United Kingdom</th>
                        <th>Outreach UK</th>
                        <th>St. Edward's CE Voluntary Aided Primary School</th>
                    </tr>
                    <tr>

                        <td colspan="2">Event Name</td>
                        <td colspan="2">EVNT00046385</td>
                    </tr>
                    <tr>

                        <td colspan="2">Event Date</td>
                        <td colspan="2">27/04/1991</td>
                    </tr>
                    <tr>

                        <td colspan="2">Business Unit</td>
                        <td colspan="2">Healthcare</td>
                    </tr>
                    <tr>

                        <td colspan="2">Status</td>
                        <td colspan="2">Approved</td>
                    </tr>
                    <tr>

                        <td colspan="2">Venue Address</td>
                        <td colspan="2">164 Bharathidasan street</td>
                    </tr>
                    <tr>

                        <td colspan="2">Total Volunteers</td>
                        <td colspan="2">24</td>
                    </tr>
                    <tr>

                        <td colspan="2">Total Volunteer hours</td>
                        <td colspan="2">24</td>
                    </tr>
                    <tr>

                        <td colspan="2">Total travel hours</td>
                        <td colspan="2">24</td>
                    </tr>
                </tbody>
            </table>
        </div>






    </div>

</main>

<footer>
    <app-footer></app-footer>
</footer>