.navbar {
    width: 86.6%;
    text-justify: center;
    font-style: normal;
    -webkit-text-fill-color: white;
    
  }
  .container-fluid
  {
      width: 86.6%;
      height:150px;
  
  }
  
  .table-bordered td, .table-bordered th {
      border: 2px solid #e6e6e6 !important;
      background-color: white !important;
  }