<header>
    <app-header></app-header>
</header>

<main>
    <div class="container-fluid">
        <br>
        <br>
        <div class="jumbotron" style="text-align: center;">
            <div class="container">
                <div class="align-content-center">
                    <h2 style="color: blue;"> Many Thanks for the Feedback.</h2>
                    <p style="align-content: center; color: green;">Feedback like this helps us constantly improve our
                        outreach experiences by knowing what we are doing right and what we can work on. So, we
                        appreciate you taking the time to send us this helpful response.
                        <br>
                        Don't hesitate to reach out if you have any more questions,comments, or concerns.
                        <br>
                        <span style="color: grey; font-weight: bold;">Cheers,</span>
                        <br>
                        Outreach Team
                    </p>
                </div>

            </div>
        </div>
    </div>
</main>

<footer>
    <app-footer></app-footer>
</footer>