<header>
    <app-header></app-header>
</header>

<main>
    <div class="container-fluid row">
        <div class="col-sm-2 card text-center text-white mb-3 ml-5 mr-5 mt-5"
            style="background-color: #e6e6e6; box-shadow: 39px 35px 33px 44px !important;">
            <div class="card-body">
                <h6 style="color: black !important;"> Total Events</h6>
                <h4 class="display-6">
                    <i class="fas fa-desktop" style="color: black !important;"> {{totalEvents}} </i>
                </h4>
                <a [routerLink]="'/events'" class="btn btn-outline-light btn-sm text-dark">View Detail <i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-sm-2 card text-center text-white mb-3 ml-5 mr-5 mt-5"
            style="background-color: #e6e6e6; box-shadow: 39px 35px 33px 44px !important;">
            <div class="card-body">
                <h6 style="color: black !important;"> Lives Impacted</h6>
                <h4 class="display-6">
                    <i class="fas fa-chain" style="color: black !important;"> {{livesImpacted}}</i>
                </h4>
                <a href="#" class="btn btn-outline-light btn-sm text-dark">View Detail <i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-sm-2 card text-center text-white mb-3 ml-5 mr-5 mt-5"
            style="background-color: #e6e6e6; box-shadow: 39px 35px 33px 44px !important;">
            <div class="card-body">
                <h6 style="color: black !important;"> Total Volunteers</h6>
                <h4 class="display-6">
                    <i class="fas fa-user-friends" style="color: black !important;"> {{totalVolunteers}}</i>
                </h4>
                <a href="#" class="btn btn-outline-light btn-sm text-dark">View Detail <i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-sm-2 card text-center  text-white mb-3 ml-5 mr-5 mt-5"
            style="background-color: #e6e6e6; box-shadow: 39px 35px 33px 44px !important;">
            <div class="card-body">
                <h6 style="color: black !important;"> Total Participants</h6>
                <h4 class="display-6">
                    <i class="far fa-hand-paper" style="color: black !important;"> {{totalParticipants}}</i>
                </h4>
                <a href="#" class="btn btn-outline-light btn-sm text-dark">View Detail <i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>

    </div>

</main>

<footer>
    <app-footer></app-footer>
</footer>