.navbar {
    text-justify: center;
    font-style: normal;
    -webkit-text-fill-color: white;
    
  }
  
  .nav-link{
      -webkit-text-fill-color: white;
  }
  
  .navbar-default .navbar-brand{
      color:white;
  }
  
  .container{
  padding-left:3px;
  padding-top: 1px;
  padding-bottom: 3px;
  }
  
  ul.nav li.dropdown:hover > div.dropdown-menu {
    display: block;
    color: #FFFFFF;
    background-color: #1036A0;
  }

  .dropdown-item:hover, .dropdown-item:focus {
    
    color: #FFFFFF !important;
    background-color: rgb(74, 95, 153) !important;
    font-weight: bold !important;
  }